# There are no secrets in this file, it is safe to commit to the repository
# This file is a template for the .env file that should be created in the root of the project
# The .env file is used to store secrets and other configuration that should not be committed to the repository

TPG_SHOPIFY_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RUST_LOG="error,shopify_payment_gateway=trace"
TPG_HOST=127.0.0.1
TPG_PORT=4444
TPG_DATABASE_URL=sqlite://data/tari_store.db

# Development only
#DATABASE_URL=postgres://postgres:postgres@localhost:5432/shopify_payment_gateway
DATABASE_URL=sqlite://data/tari_store.db
DATABASE_TYPE=sqlite

