{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}

<div class="elfsight-sapp-fe823921-7883-4b66-ba9b-c027679197a3" style="display: flex; justify-content: center;"></div>